
 .hello {
  /* opacity: 0;   */
  display: none;
  position:absolute;
} 
/* //parent to child */
.parent:hover .hello {
    background-color: aqua;
    opacity: 1;
    display: block;
}

/* > */

.main:hover   {
    background-color: blue;
      opacity: "1"; 

}

/* @keyframes likeButton {  
  0% {
    transform:scale(1);
  }
  20% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.likeIconAnimation {

  animation-name: likeButton;
  animation-duration:3s ;
     
} */

